
env # dev | prod

DB_CONNECTION_URL 

JWT_SECRET
PASSWORD_HASH_SALT

SUPERADMIN_EMAIL
SUPERADMIN_PASSWORD 

CLOUDINARY_SECRET 
CLOUD_KEY
CLOUD_NAME

REDIS_HOST
REDIS_PORT
REDIS_PASSWORD

SMTP_EMAIL
SMTP_PASSWORD

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_AUTHORIZATION_URL
GOOGLE_OAUTH_CALLBACK_URL 